.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for('https://avatars.githubusercontent.com/u/58734081?v=4'),style="width:175px;border-radius:50%")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
    if theme.facebook
      li
        a(href="http://facebook.com/" + theme.facebook)
          i.fa.fa-facebook
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa.fa-github
    if theme.bilibili
      li
        a(href="http://space.bilibili.com/" + theme.bilibili)
          img(src= url_for('/images/bilibili.ico'), style="width:15px;height:15px;vertical-align: middle;")
    if theme.coolapk
      li
        a(href="http://coolapk.com/u/" + theme.coolapk)
          img(src= url_for('/images/coolapk_logo.png'), style="width:15px;height:15px;vertical-align: middle;")
  include footer
